{% macro directive(name, dir, indent='') %}
{{indent}}<{{name}}{% if dir['_pattern'] is defined %} {{ dir['_pattern'] }}{% endif %}>
{% if dir['type'] is defined %}
{{indent}}  @type {{ dir['type'] }}
{% endif %}
{%  if dir['_props'] is defined %}
{%    for prop in dir['_props'] %}
{{indent}}{{ props(prop, indent) }}
{%-    endfor %}
{%  else %}
{{indent}}{{ props(dir, indent) }}
{%  endif -%}
{{indent}}</{{name}}>
{%- endmacro %}

{% macro key_value(key, value) %}
{{key}}{% if value is not sameas  True %} {{value}}{% endif %}
{%- endmacro %}

{% macro sub_directive(key, value, indent='') %}
  {{indent}}<{{key}}>
{%       for skey, svalue in value.iteritems() %}
    {{indent}}{{ key_value(skey, svalue) }}
{%       endfor %}
  {{indent}}</{{key}}>
{%- endmacro %}

{% macro props(p, indent='') %}
{% for key, value in p.iteritems() %}
{%   if key != 'type' and key[0] != '_' %}
{%     if value is mapping %}
{{       sub_directive(key, value, indent) }}
{%     elif value is iterable and value is not string %}
{%       for value2 in value %}
{{         sub_directive(key, value2, indent) }}
{%       endfor %}
{%     else %}
  {{ key_value(key, value) }}
{%     endif %}
{%   endif %}
{%- endfor %}
{%- endmacro %}


# CONFIG
{% if fluentd_inputs is defined %}
{%   for input in fluentd_inputs %}
{{ directive('source', input) }}
{%   endfor %}
{% endif %}

{% if fluentd_ouputs is defined %}
{%   for output in fluentd_ouputs %}
{{ directive('match', output) }}
{%   endfor %}
{% endif %}

{% if fluentd_filters is defined %}
{%   for filter in fluentd_filters %}
{{ directive('filter', filter) }}
{%   endfor %}
{% endif %}

{% if fluentd_system is defined %}
{{ directive('system', fluentd_system) }}
{% endif %}

{% if fluentd_labels is defined %}
{%   for dir in fluentd_labels %}
<label {{ dir['name'] }}>
{%     for x in dir['directives'] %}
{{       directive(x['_of'], x, '  ') }}
{%     endfor %}
</label>
{%   endfor %}
{% endif %}

{% if fluentd_includes is defined %}
{%   for include in fluentd_includes %}
@include {{ include }}
{%   endfor %}
{% endif %}
